<div class="container">
  <form method="post" action="/crud_mensajes" enctype="multipart/form-data">
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="Mensajes_Modal_Add" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <i class="fas fa-share-square"></i> Enviar Mensaje</h5>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-gropup col-md-6">
                <label>ASUNTO</label>
                <input type="text" class="form-control" name="MEN_ASUNTO" required>
              </div>
              <div class="form-gropup col-md-6">
                <label>DESTINATARIO</label>
                <select class="selectpicker form-control" data-actions-box="true" data-live-search="true" name="USU_ID"
                  required multiple>
                  {{#each usuarios}}
                  <option value="{{USU_ID}}">{{USU_NOMBRE}} {{USU_CEDULA}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-gropup col-md-12">
                <label>MENSAJE</label>
                <textarea class="form-control" rows="5" id="MEN_MENSAJE" name="MEN_MENSAJE"></textarea>
              </div>
              <div class="form-gropup col-md-12   ">
                <label>IMAGEN ADJUNTA</label>
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input"
                    accept="image/x-png, image/gif, image/jpeg, image/jpg">
                  <label class="custom-file-label" for="inputGroupFile01">Seleccione una Imagen</label>
                </div>
              </div>
              <input type="hidden" class="form-control" name="MEN_ID">
              <input type="hidden" class="form-control" name="MEN_FECHA">
              <input type="hidden" class="form-control" name="MEN_ESTADO" value="ACTIVO">
            </div>
          </div>
          <div class="modal-footer">
            <button value="btn_ingresarMensaje" type="submit" name="accion" class="btn btn-success">
              <i class="fas fa-share-square"></i> Enviar</button>
            <button data-dismiss="modal" class="btn btn-secondary">
              <i class="fas fa-times-circle"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </form>
  <form method="post" action="/crud_mensajes">
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="Mensajes_Modal_Drop" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <i class="fas fa-edit"></i> Editar Mensaje</h5>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-gropup col-md-6">
                <label>ASUNTO</label>
                <input type="text" class="form-control" name="MEN_ASUNTO" value="{{mensaje.MEN_ASUNTO }}" required>
              </div>
              <div class="form-gropup col-md-6">
                <label>ENVIADO A </label>
                <select class="selectpicker form-control" name="USU_ID">
                  {{#each destinatarios}}
                  <option value="{{USU_ID}}">{{USU_NOMBRE}} {{USU_CEDULA}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-gropup col-md-12">
                <label>MENSAJE</label>
                <textarea class="form-control" rows="5" id="MEN_MENSAJE"
                  name="MEN_MENSAJE">{{mensaje.MEN_MENSAJE}}</textarea>
              </div>
              {{#if mensaje.MEN_PATH_IMG}}
              <div class="form-gropup col-md-12">
                <label>IMAGEN ADJUNTA</label>
                <br>
                <center><img src="mensajes/{{mensaje.MEN_PATH_IMG}}" class="img-fluid"></center>

              </div>
              {{/if}}
              <input type="hidden" class="form-control" name="MEN_PATH_IMG" value="{{mensaje.MEN_PATH_IMG}}">
              <input type="hidden" class="form-control" name="MEN_ID" value="{{mensaje.MEN_ID}}">
              <input type="hidden" class="form-control" name="MEN_FECHA" value="{{mensaje.MEN_FECHA}}">
              <input type="hidden" class="form-control" name="MEN_ESTADO" value="ACTIVO">
            </div>
          </div>
          <div class="modal-footer">
            <button value="btn_eliminarMensaje" type="submit" name="accion" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i> Eliminar</button>
            <button data-dismiss="modal" class="btn btn-secondary">
              <i class="fas fa-times-circle"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </form>
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>
            <i class="fas fa-envelope fa-lg"></i> Gestión
            <b>Mensajes</b>
          </h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-success" data-toggle="modal" data-target="#Mensajes_Modal_Add">
            <i class="far fa-share-square"></i>
            <span>Enviar Mensaje</span>
          </a>

        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover"></table>
      <table id="myTable" class="table table-hover table-">
        <thead>
          <tr>
            <th style="width: 175px;">
              <i class="fas fa-calendar-alt"></i> Fecha</th>
            <th>
              <i class="fas fa-sticky-note"></i> Asunto</th>
            <th style="width: 100px;">
              <i class="fas fa-exclamation"> </i> Acción</th>
          </tr>
        </thead>
        {{#each mensajes}}
        <tr>
          <td>{{MEN_FECHA}}</td>
          <td>{{MEN_ASUNTO}}</td>
          <form action="/crud_mensajes" method="post">
            <td>
              <center>
                <input type="hidden" value="{{MEN_ID}}" name="MEN_ID">
                <input type="hidden" value="{{MEN_PATH_IMG}}" name="MEN_PATH_IMG" >

                <button value="btn_seleccionarMensaje" type="submit" name="accion" class="btn btn-secondary">
                  <i class="far fa-eye"></i>
                </button>
                <button value="btn_eliminarMensaje" type="submit" name="accion" class="btn btn-secondary">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </center>
            </td>
          </form>
        </tr>
        {{else}}
        <div class="col-md-4 mx-auto">
          <div class="card card-body text-center">
            <p>No existen Mensajes.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Mensajes_Modal_Add">
              Enviar Mensajes
            </button>
          </div>
        </div>
        {{/each}}
      </table>
    </div>

  </div>
</div>